/* Typeography
    ------------
*/
h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #212F3C;
    font-size: 2rem;
    margin: 0;
}
.subtitle {
    font-weight: 600;
    color: #143779;
    font-size: .75rem;
    margin: 0;
}
/* Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
*/
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 90%;
    max-width: 900px;
    padding: 2em 0;
    margin: 0 auto;
}
.container-nav {
    display: flex;
    justify-content: space-between;
}
header {
    padding: 2em 0;
}
/* Navigation
    ------------
*/
nav ul {
    /* border: 1px solid magenta; */
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav li {
    /* border: 2px dotted orange; */
    margin: 0 1em;
}
nav a {
    /* border: 3px solid green; */
    color: #707070;
    text-decoration: none;
    color: #707070;
    padding: .25em 0;
}
nav a:hover
nav a:focus {
    color: #179202;
}
.current-page {
    border-bottom: 1px solid #707070;
}
.current-page:hover {
    color: #707070;
}
p {
    font-size: 18px;
}
main {
    width: 80%;
    margin: auto;
    color: #707070;
}

main ul {
    display: inline-block;
}
main a {
    color: #4287f5;
}
main li {
    list-style-type: none;
    padding: 5px;
    margin: 10px;
    color: #707070;
}

button {
    border-radius: 15px;
    diaplay: inline;
    padding: 5px;
}
